:root {
    --mainBlack: #545454;
    --mainWhite: #ffffff;
    --mainBackground: linear-gradient(270deg, #308E63 79.76%, rgba(48, 142, 99, 0.55) 151.98%);
    --CTAButtonColor: rgba(2, 83, 39, 0.5);
    --disableButtonColor: #DCDCDC;
}

.productCart {
    background: #F6F6F6;
    width: 300px;
    height: 450px;
    border-radius: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all .3s ease;
}

.productCart:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.addToCart {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 90px;
    height: 50px;
    border: none;
    background: var(--mainBlack);
    color: var(--mainWhite);
    border-radius: 0 16px;
}

.addLine {
    font-size: 32px;
    color: var(--mainWhite);
}

.productCart .productImage {
    height: 338px;
    width: 180px;
}

.productDescription {
    color: var(--mainBlack);
}

.cartFooter {
    width: 300px;
}

.pagination-bar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.likedButton {
    cursor: pointer;
}

.redHeart {
    color: red;
}